aiodataloader==0.4.0
aniso8601==9.0.1
annotated-types==0.6.0
anyio==4.2.0
asgiref==3.7.2
astroid==3.0.2
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
dill==0.3.7
Django==4.2.6
django_graphbox==1.3.9
dnspython==2.5.0
email-validator==2.1.0.post1
facebook-sdk==3.1.0
fastapi==0.109.0
google-auth==2.26.2
graphene==3.3
graphene-django==3.2.0
graphene-file-upload==1.3.0
graphene-sqlalchemy==3.0.0rc1
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.26.0
idna==3.6
isort==5.13.2
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.4
mccabe==0.7.0
orjson==3.9.12
Pillow==9.5.0
platformdirs==4.1.0
promise==2.3
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydantic==2.5.3
pydantic-extra-types==2.4.1
pydantic-settings==2.1.0
pydantic_core==2.14.6
PyJWT==2.8.0
pylint==3.0.3
python-dotenv==1.0.0
python-gql==0.2.4
python-multipart==0.0.6
PyYAML==6.0.1
requests==2.31.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.25
sqlparse==0.4.4
starlette==0.35.1
starlette-graphene3==0.6.0
text-unidecode==1.3
tomlkit==0.12.3
typing_extensions==4.9.0
ujson==5.9.0
urllib3==2.1.0
uvicorn==0.26.0
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0
